<section>
    <h1>Welcome! {{user.firstName}} {{user.lastName}} (Admin),</h1>

    <div class="tx-align-center">
        <a href="/show/list"><button type="button">Show Dashboard</button></a>
    </div>
</section>